/* css page accueil */

html,
body{
    min-height: 100vh;
    margin: 0;
    color: black;
    background-image: url("../img/bg_index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/* navigation seco categories */
.container{padding: 0; height: 75vh;}
.container  div{float: left;}
.container.search div{float: inherit;}
.container div.link_reser, .container div.link_prest {height: 100% !important;}

.cat_type_nav{
    height: 65px;
    padding: 20px 0;
    width: 100%;
    background: black;
    background: rgb(109,109,109);
    background: -moz-linear-gradient(45deg, rgb(109,109,109) 35%, rgb(0,0,0) 67%);
    background: -webkit-linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    background: linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#000000',GradientType=1 );

}

.cat_type_nav nav{
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.cat_type_nav nav a{
    font-size: 1.2em;
    margin-left: 15px;
    padding: 0 15px 0 0;
    line-height: .4px;
    color: gainsboro ;
    text-transform:uppercase;
    border-right: 1px white solid;
}

.cat_type_nav nav a:last-child{
    border-right: none;
}

/**  Home_page    **/
.button_home{height: auto;}
.button_home:hover div{background: rgba(0,0,0, .5) }
.button_home:hover p{color: white }

.link_reser{
    text-align: left;
    padding-top: 75px;
    padding-left: 35px
}
.link_prest{
    text-align: right;
    padding-top: 286px;
}
.link_reser p, .link_prest p {
    font-size: 2.4em;
    text-transform: Uppercase;
    color: black;
    font-weight: bold;
}


.link_reser p:first-child{
    display: block;
    width: 220px
}
.link_reser p:last-child{
    display: block;
    width: 100%
}
.link_prest p:last-child{
    padding-right: 35px
}


.link_reser span {width: 100%; text-align: right; }

.link_reser i{margin-right: 30px;}
.link_prest span {
    width: 100%;
    padding-left: 33px;
    text-align: left;
    float: left ;
    margin-bottom: 80px
}


footer{
    background: white;
}

/* -------------- RESPONSIVE --------------------- */

@media screen and (max-width: 1150px) {


}

