.slider{
    border-top: 1px solid gray ;
    border-bottom: 1px solid gray ;
    padding: 25px 0;
    margin-bottom: 25px;
    width: 100%;
}
.fiche_prestataire {
    border-top: 2px solid gray ;
    padding-top: 25px;
    margin-top: 25px;
}
.avatar img{
    width: 100%;
}