/**
Landing Page
 */

body{
    background-image: url("../img/bg_index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* liste social network */

.nav_top_right{
     padding-left: 80%;
}
.nav_top_right ul li{
    padding: 2%;
    display: inline-block;
}

.nav_top_right a {
    color: black;
}

/* contenu principal */

.container{
    margin: 10% auto;
    text-align: center;
    padding-bottom: 80px;
}

/* logo */

.logo img{
    width: 60%;
}

/* slogan */

.slogan {
    color: gray;
    font-size: 1.1rem;
    margin: 0 auto;
    display: block;
    width: 500px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
}

/* button */

#button{
    width: 350px;
    padding: 15px 35px;
    border-radius: initial;
    font-size: 1.3rem;
}

/* footer */

.nav_bot_left{
    position: fixed;
    top: 95vh;
    display: block;
    width: 100%;
}

.nav_bot_left ul{
    list-style: none;
}

.nav_bot_left ul li{
    margin-right: 20px;
    display: inline-block;
}

.nav_bot_left ul li a{
    color: black;
    text-decoration: none;
}

/* -------------- RESPONSIVE ------------ */

@media screen and (max-width: 992px){
    /* slogan */
    .slogan {
        font-size: 0.8rem;
        width: 300px;
    }
    /* button */
    #button{
        width: 275px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 720px){
    /* slogan */
    .slogan {
        font-size: 0.8rem;
        width: 200px;
    }
    /* button */
    #button{
        padding: 5px;
        width: 100%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 540px){
    /* slogan */
    .slogan {
        font-size: 0.8rem;
        width: 200px;
    }
    /* button */
    #button{
        padding: 5px;
        width: 100%;
        font-size: 0.8rem;
    }
}







