/**
Page de modification profil Client
 */


/* titre + mise en forme */
.form_title{
    margin-left: 25px;
}

.title_line {
    display: block;
    width: 40%;
    margin-left: 5%;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.container > .title_line {
    border-bottom: 2px solid black;
}

.main_content{
    background-image: url("../img/bg_marbre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 11px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.title_line.top{margin-bottom: 30px}


/* formulaire */

form{
    max-width: 85%;
}

#profil_client_pseudo,
#profil_client_description,
#profil_client_adresse,
#profil_client_ville,
#profil_client_cp,
#profil_client_email,
#profil_client_tel{
    border: 1px solid black;
    border-radius: initial;
    margin-bottom: 15px;
}

.avatar_actuel{
    margin: 15px;
    box-shadow: 0 0 5px #000000;
}

.activite .row{ margin-left: 2px}
.coord div:last-child{margin-left: -20px }


.jour-disp, .jour-hours, .profil-img, .profil-img-upload { margin-left: 9.7%}


.modification_form_button{
    margin: 60px auto 0 ;
    background-color: black;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    border: none;
}

.modification_form_button:hover{
    background-color: grey;
}

.inscription_form_button{
    margin-top: 0;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    border: none;
}
.inscription_form_button:hover{
    background-color: grey;
    text-decoration: none;
    color: white;
}

.title-gestion{margin-top: 43px}
.gestion-btn {margin: 50px 0 110px 8%}

.title-photo-prest { margin-left: 8%}

.btn-modif{ margin-bottom: 65px}

.jour-dispo span{ border-right: 1px solid black; font-family: Roboto; font-size: 1em; padding-right: 5px}
.jour-dispo span:last-child { border: none}
.jour-dispo span.label-jour{ border-right: inherit; font-family: Antraste; font-size: .8em ; padding-right: 0}

.img-gallery, .prestation-list {margin: 0 auto}

.prestation-list{ margin-bottom: 100px}

.btn-retour{margin-bottom: 70px}

/****Affichage horraire *****/
#horaire-lundi, #horaire-mardi, #horaire-mercredi, #horaire-jeudi, #horaire-vendredi, #horaire-samedi, #horaire-dimanche  {visibility: hidden; display: none}

.table.horraire thead th { border-bottom: none }

.table.horraire thead th { border-top: none }

