/* css page accueil */

html,
body{
    min-height: 100vh;
    margin: 0;
    color: black;
}



/* navigation secondaire categories */


.cat_type_nav{
    height: auto;
    padding: 15px 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 35px;
}

.cat_type_nav nav{
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.cat_type_nav nav li{
    float: left;
    list-style: none;}

.cat_type_nav nav li{
    font-size: 1.2em;
    margin-left: 15px;
    padding: 0 15px 0 0;
    line-height: 1em;
    color: gainsboro ;
    text-transform:uppercase;
    border-right: 1px white solid;
}

.cat_type_nav nav li{
    font-size: 1em;
}

.cat_type_nav nav li:last-child{
    border-right: none;
}

.cat_type_nav.recherche{ height: auto}

.title_line {
    display: block;
    width: 60%;
    margin-left: 5%;
    border-bottom: 2px solid black;
    margin-bottom: 53px;
}

.result_title{ margin-left: 32px}



/* formulaire inscription */
.text-form{ margin: 100px auto; }
.text-form p{
    font-family: Antraste;
    font-size: 1.5em;
}
.text-form .note{
    font-family: Code-bold;
    font-size: .8em;
}

.inscription_form_button{
    margin-top: -4px;
    background-color: black;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
}
.inscription_form_button:hover{
    background-color: grey;
}

.form-inscripton{
    margin: 0px auto 200px;
}

.form-inscripton.result{margin-bottom: 100px}

.form-inscripton form{
    padding: 25px 0;
    border-radius: .25rem;
    height: 85px;
}

.form-content{ margin-left: 5px; padding-right: 0}
.form-btn-group{ text-align: center}
/*.col.lieu{color: black}
.btn-js, #demo{ display: none }*/
/* contenue principal */

.main_content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../img/bg_marbre.jpg");
    background-size: cover;
}

.main_content.result{
    background-image: none;
    background: white;
}

/* Affichage result */
.table.result{ margin-bottom: 150px}

.result-content {
    display: flex;
    border-top: 1px solid black;
    margin-bottom: 0px;
    padding: 20px 0;
}

.result-content.no-result{
    margin-bottom: 250px;
}
.prestataires-result{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 75px;
    padding: 20px 0;
}

.prestataire-infos h2, .prestataire-infos h4{font-family: Antraste}
.prestataire-infos h2 span{font-size: .74em}
.prestataire-infos{ margin-bottom: 50px}

.prestataire-infos h4{
    font-size: .8em;
    color: grey;
    font-family: Code-bold;
}

.img_avatar, .descrip-prestataire, .prestataire-infos .col-12 { padding: 0}
.prestataire-infos .col-12 { display: flex}
.descrip-prestataire{ font-family: Antraste; font-size: .8em; padding: 20px 35px}

.img_avatar img{width: 90%}

.left-info{
    padding-top: 70px;
    padding-left: 25px}
.left-info span{
    font-family: Antraste;
    font-size: .8em}
.jour-dispo span{ border-right: 1px solid black; font-family: Roboto; font-size: 1em; padding-right: 5px}
.jour-dispo span:last-child { border: none}
.jour-dispo span.label-jour{ border-right: inherit; font-family: Antraste; font-size: .8em ; padding-right: 0}

/**  footer    **/

footer {
    width: 100%;
    margin-bottom: 0;
}

/* -------------- RESPONSIVE --------------------- */

@media screen and (max-width: 1566px) {
    .descrip-prestataire {
        padding-top: 0;
    }
}


