/* css page accueil */

html,
body{
    min-height: 100vh;
    margin: 0;
    color: black;
}



/* navigation secondaire categories */


.cat_type_nav{
    height: 65px;
    padding: 15px 0;
    width: 100%;
    background: black;
    background: rgb(109,109,109);
    background: -moz-linear-gradient(45deg, rgb(109,109,109) 35%, rgb(0,0,0) 67%);
    background: -webkit-linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    background: linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#000000',GradientType=1 );

}

.cat_type_nav nav{
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    height: 65px;
}

.cat_type_nav nav li{
    float: left;
    list-style: none;}

.cat_type_nav nav li{
    font-size: 1.2em;
    margin-left: 15px;
    padding: 0 15px 0 0;
    line-height: 1em;
    color: gainsboro ;
    text-transform:uppercase;
    border-right: 1px white solid;
}

.cat_type_nav nav li{
    font-size: 1em;
}

.cat_type_nav nav li:last-child{
    border-right: none;
}

.cat_type_nav.recherche{ height: auto}


.title_line {
    display: block;
    width: 60%;
    margin-left: 5%;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}
.result_title{ margin-left: 32px}


/* formulaire inscription */

.inscription_form_button{
    margin-top: -4px;
    background-color: black;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
}
.inscription_form_button:hover{
    background-color: grey;
}

.form-inscripton{
    margin: 200px auto;
}
.form-inscripton form{
    background: white;
    padding: 25px 0;
    border-radius: .25rem;
    height: 85px;
}

.form-content{ margin-left: 5px; padding-right: 0}
.form-btn-group{ text-align: center}
.col.lieu{color: black}
.btn-js, #demo{ display: none }

/* contenue principal */

.main_content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Affichage result */
.table.result{ margin-bottom: 150px}

/**  footer    **/

footer {
    width: 100%;
    margin-bottom: 0;
}

/* -------------- RESPONSIVE --------------------- */

@media screen and (max-width: 1200px) {




}


