/* css commun a toutes les pages : NAVIGATION & FOOTER(sauf landing_page footer) */

.header_top{
    height: 265px;
    display:flex;
    justify-content: space-around;
    align-items: flex-end ;
    padding-bottom: 25px;
    background:white;
}

.nav_top_right {
    float: right;
    margin-right: 105px;
    padding-top: 10px;
}

.nav_top_left a,
.nav_top_right a {
    font-size: 1.1em;
    color: black;
    margin-right: 60px;
}

.nav_top_left a:hover,
.nav_top_right a:hover{
    text-decoration: none
}

nav a span{
    border-bottom:  2px solid black;
    padding-bottom: 10px;
    margin-right: 9px;
}

.nav_top_right a:hover,
.nav_bot_left a:hover{
    color: dimgrey
}

.cat_type_nav{
    height: 65px;
    padding: 20px 0;
    width: 100%;
    background: black;
    background: rgb(109,109,109);
    background: -moz-linear-gradient(45deg, rgb(109,109,109) 35%, rgb(0,0,0) 67%);
    background: -webkit-linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    background: linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#000000',GradientType=1 );

}

.cat_type_nav nav{
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.cat_type_nav nav a{
    font-size: 1.2em;
    margin-left: 15px;
    padding: 0 15px 0 0;
    line-height: .4px;
    color: gainsboro ;
    text-transform:uppercase;
    border-right: 1px white solid;
}

.cat_type_nav nav a:last-child{
    border-right: none;
}

a.parte_link{
    margin-right: 50px;
    text-transform: uppercase;
}

a.icon_nav{
    border-bottom: none;
    margin-right: 15px;
}

.logo_header{
    width: 200px;
    text-align: center;
}

.logo_header img{
    width: 100%;
}
.logo_header p{
    margin-bottom: 0;
    font-size: 1.2em;
    text-transform: uppercase;
}

.nav_bot_left {
    float: left;
    margin-left: 85px;
    margin-bottom: 9px;
    height: 70px;
    padding: 10px 0;
}

.nav_bot_left a {
    text-decoration: none;
    font-size: .85em;
    color: black;
    margin: 0 5px;
}

.nav_bot_left a:hover{
    color: dimgrey;
    border-bottom: 1px dotted dimgrey;
}

.btn-outline-secondary{
    color: white;
    background-color: rgba(64, 66, 68,.9);
}

.btn-outline-secondary:hover {
    color: white;
    background-color: rgba(64, 66, 68,.65)
}

button{
    text-transform: uppercase;
}

.btn-lg{
    font-size: 1.25em;
    border-radius: 0;
    padding: 9px 16px;
}

footer{
    width: 100%;
    position: fixed;
    top: 95vh;
    display: block;
}


/* RESPONSIVE */

@media screen and (min-width: 200px) and (max-width: 500px) {
    footer{
        position: static;
    }
}