/* css commun a toutes les pages : NAVIGATION & FOOTER(sauf landing_page footer) */


/* -------------- NAVIGATION PRINCIPALE --------------- */

@font-face {
    font-family: 'antraste';
    src: url('webfonts/antraste/Antraste.eot'); /* IE9 Compat Modes */
    src: url('webfonts/antraste/Antraste.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/antraste/Antraste.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/antraste/Antraste.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/antraste/Antraste.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/antraste/Antraste.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'code-bold';
    src: url('webfonts/code/Code-Bold.eot'); /* IE9 Compat Modes */
    src: url('webfonts/code/Code-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/code/Code-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/code/Code-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/code/Code-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/code/Code-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'code-light';
    src: url('webfonts/code/Code-Light.eot'); /* IE9 Compat Modes */
    src: url('webfonts/code/Code-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/code/Code-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/code/Code-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/code/Code-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/code/Code-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'roboto';
    src: url('webfonts/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('webfonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/roboto/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/roboto/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}



.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: antraste }

header .wrapper {
    text-align: center;
    height:250px;
    padding-top: 185px;
    display: block;
    background: white;
}

.HeaderLft{
    float:left;
    margin: -25px 0 25px;
}

.HeaderLft a,
.HeaderRgt a{
    color: black;
    margin-right: 20px;
    margin-top: -29px;
    padding-bottom: 10px
}

.HeaderLft a:hover,
.HeaderRgt a:hover{
    text-decoration: none;
}

.HeaderLft span,
.HeaderRgt span{
    border-bottom: 1.5px solid black;
    margin-right: 5px;
    padding-bottom: 5px;
}

.HeaderRgt{
    float:right;
    margin-top: -25px;
}

.MastHead{
    width:90%;
    margin:0 auto;
    margin-top: 52px;
}

.HeaderLogo {
    width: 90%;
    margin:  -250px auto 0;
    text-align:center;
}

.HeaderLogo img {
    width: 200px;
    margin:  0 auto;
    text-align:center;
    padding-top: 40px;
}
.HeaderLogo p {
    font-size: 0.7rem;
}
.HeaderLogo a {
   text-decoration: none;
}

a.icon_nav{
    margin-right: 5px;
}

/* -------------------- Content ------------------ */

.container{
    padding: 0;
}

.container  div{
    float: left;
}

.container.search div{
    float: inherit;
}

.container div.link_reser,
.container div.link_prest {
    height: 100% !important;
}

.cat_type_nav{
    height: 65px;
    padding: 20px 0;
    width: 100%;
    background: black;
    background: rgb(109,109,109);
    background: -moz-linear-gradient(45deg, rgb(109,109,109) 35%, rgb(0,0,0) 67%);
    background: -webkit-linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    background: linear-gradient(45deg, rgb(109,109,109) 35%,rgb(0,0,0) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#000000',GradientType=1 );

}

.cat_type_nav nav{
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.cat_type_nav nav a{
    font-size: 1.2em;
    margin-left: 15px;
    padding: 0 15px 0 0;
    line-height: .4px;
    color: gainsboro ;
    text-transform:uppercase;
    border-right: 1px white solid;
}

.cat_type_nav nav a:last-child{
    border-right: none;
}

/* -------------------- FOOTER ------------------- */

.nav_bot_left {
    background-color: white;
    margin-left: 85px;
    margin-bottom: 9px;
    height: 70px;
    padding: 10px 0 0 ;

}

.nav_bot_left a {
    text-decoration: none;
    font-size: .85em;
    color: black;
    margin: 0 5px;
}

.nav_bot_left a:hover{
    color: dimgrey;
    border-bottom: 1px dotted dimgrey;
}

.btn-outline-secondary{
    color: white;
    background-color: rgba(64, 66, 68,.9);
}

.btn-outline-secondary:hover {
    color: white;
    background-color: rgba(64, 66, 68,.65)
}

button{
    text-transform: uppercase;
}

.btn-lg{
    font-size: 1.25em;
    border-radius: 0;
    padding: 9px 16px;
}

footer{
    width: 100%;
    position: relative;
    display: block;
    background-color: white;
}

/* -------------- RESPONSIVE --------------------- */

@media screen and (max-width: 1200px) {
    /* nav principale */

    header .wrapper{
        height: 0;
    }

    .MastHead{
        display: none;
    }

    .HeaderLogo {
        margin-top: -195px;
        width: 70%;

    }
    .HeaderLogo p {
        display:none;
    }

    .HeaderLogo img {
        padding-top: 20px;
        width: 100px;
    }

}


