{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# librairie #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {# css #}
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}" />
{% endblock %}

{% block body %}
    <header>
        <nav class="nav_top_right">
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="logo">
            <img src="{{  asset('img/logo_landing_page_f_o3.png') }}" alt="BOOKR, logo du site">
        </div>
        <div class="text-uppercase slogan">
            <p>La réservation nouvelle generation</p>
        </div>
        <div  class="text-uppercase">
            <a href="{{ path('app_index_accueil') }}" id="button" class="btn btn-secondary btn-lg">Découvrez l'experience</a>
        </div>
    </div>
    <footer>
        <nav class="nav_bot_left">
            <ul>
                <li>
                    <a href="#">Mentions legales</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </nav>
    </footer>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
